
<div class="leftNavs">
    <div class="icn">
        <i class="fa-solid fa-heading fa-2x"></i>
        <span> Hexa Bank</span>
        <i class="fa-solid fa-angle-left"></i>
    </div>
    
    <div class="userNav">
        <a href="javaScript:;">
            <img src="../../../../assets/img/user.jpg" alt="user" >
            <span>Akmal Nasrulloh</span>
             <i class="fa-solid fa-sort"></i>
        </a>
               
    </div> 
    
    <hr>

    <div class="menus">
        <h6>Menu</h6>
        <a href="javaScript:;">
            <i class="fa-solid fa-dice-four fa-1x"></i>
            <span>Overview</span>
        </a>
        <a href="javaScript:;">
            <i class="fa-solid fa-bars"></i>
            <span>Transactions</span>
        </a>
        <a href="javaScript:;">
            <i class="fa-solid fa-chart-simple"></i>
            <span>Analytics</span>
        </a>
        <a href="javaScript:;">
            <i class="fa-regular fa-credit-card"></i>
            <span>Cards</span>
        </a>
    </div>

    <hr>

    <div class="generals menus">
        <h6>General</h6>
        <a href="javaScript:;">
            <i class="fa-solid fa-gear"></i>
            <span>Setting</span>
        </a>
        <a href="javaScript:;">
            <i class="fa-regular fa-message"></i>
            <span>Help/Support</span>
        </a>
        <a href="javaScript:;">
            <i class="fa-solid fa-moon"></i>
            <span>Dark</span>
            <!-- <input type="checkbox" data-toggle="switchbutton" class="btn"> -->
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
        </a>
    </div>

    <hr>

    <div class="newPayment">
       
    <p>
        <i class="fa-solid fa-circle-plus fa-3x"></i>
    </p>
  <p>New Payment</p>
    </div>
</div>
