
<div class="staticColumn">
  <div class="myCards">
    <span>
        My Cards : <strong>1</strong>/2
    </span>
    <div>
        <button>
            <i class="fa-solid fa-chevron-left"></i>
        </button>
       <button>
        <i class="fa-solid fa-chevron-right"></i>
       </button>
    </div>
  </div>
    <div class="card">
        <div class="card-body">

        </div>
    </div>
    <div class="addNewCard">
        <i class="fa-solid fa-circle-plus"></i>
        <span>Add New Card</span>
    </div>

    <hr>
<h5>Quick Actions</h5>
    <div class="quickAction">
        <div class="icons">
            <i class="fa-regular fa-square-plus"></i>
            <i class="fa-solid fa-location-arrow"></i>
            <i class="fa-solid fa-money-bill-transfer"></i>
        </div>
        <div class="icons">
        <span>Top Up</span>
        <span>Transfer</span>
        <span>Withdrawl</span>
        </div>
    </div>
    <hr>
    
        <div class="addSave">
            <span>Saving plan</span>
        <i class="fa-solid fa-circle-plus"></i>
        </div>

        <hr>
<div class="section">
    <div class="watch">
        <button>
            <i class="fa-regular fa-clock fa-2x"></i>
        </button>
        <div class="watchSec">
        <h6>
            New watch
        </h6>
        <small>
            target $2000
        </small>
    </div>
    <i class="fa-solid fa-ellipsis"></i>
  </div>
  <div>
    <div class="progrs">
        <small for="file">Total $1,000</small>
        <small>50%</small>
    </div>
<progress id="file" value="32" max="100" > 50% </progress>
</div>
</div>

<div class="watch bottom">
    <button>
        <i class="fa-regular fa-message fa-2x"></i>
    </button>
    <div class="watchSec">
    <h6>
       Play Station 5
    </h6>
    <small>
        target $2000
    </small>
</div>
<i class="fa-solid fa-ellipsis"></i>
</div>
</div>
