

<!-- <div class="topNavMsg">
    <span>
        Stay Updated on our latest features by receiving notifications from us !
    </span>
    <button class="btn btn-light">Learn more</button>
    <i class="fas fa-times fa-2x text-right"></i>
</div> -->


<div class="overview">
    <span>Overview</span>
<div>
    <input type="text" name="txtBox" placeholder="Search anything here...">     
</div>
<div class="icons">
        <button >
            <i class="fa-regular fa-envelope "></i>
        </button>
        <button>
            <i class="fa-solid fa-bell "></i>
        </button> 
</div>
</div>


